// Import page-specific CSS files here.
@import "home";

body {
  background-color: #253746;
  font-size: 16px em;
}
.container {
  color: whitesmoke;
}

h1,
h2,
h3,
h4 {
  font-weight: bolder;
  color: #f0dbb2;
}
.navbar,
.card {
  background-color: #f0dbb2;
}
.navbar a,
.card a {
  text-decoration: none;
}
a {
  transition: all ease-in-out;
}
.navbar a:hover,
.card a:hover {
  transform: scale(0.98);
}
img {
  width: 100%;
}
